<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] | dengue.live</title>
    <!--Bootstrap CSS, JavaScript/JQuery files -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--Custom styles-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!--navbar-->
    @await Html.PartialAsync("navbar.cshtml")
    <main>
        @RenderBody()
    </main>
    <footer>
    </footer>
</body>
</html>
