<!--Bootstrap Navbar-->
<style>
.navbar {
    transition: background-color 0.4s linear 0s;
    padding: 0px 10%;
    min-height: 60px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-weight: 400;
    font-size: 1.5em;
    color: white;
    transition: background-color 0.4s linear 0s;
    margin: 0;
}

.navbar-brand.scrolled {
    color: #85CEBB;
    transition: background-color 0.4s linear 0s;
}
</style>

<nav class="navbar navbar-dark fixed-top navbar-expand-sm">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">dengue.live </a>
    <button class="navbar-toggler" type="button" onclick="toggleBackground()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item ml-4">
                <a class="nav-link" href="~/about">About</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="~/prevention">Prevention</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="~/risk">Risk Factors</a>
            </li>
            <li class="nav-item ml-4">
                <a class="predictionsBtn btn btn-outline-light my-2 my-sm-0" href="~/dashboard">Predictions</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    // Turns background white when hamburger is pressed at top
    function toggleBackground() {
        if ($(this).scrollTop() < 400 && window.location.pathname != "/dashboard") {
            if ($('.navbar-toggler').attr('aria-expanded') == "false") {
                $('.navbar').removeClass('navbar-dark bg-transparent').addClass('navbar-light bg-white');
                $('.predictionsBtn').removeClass('btn-outline-light').addClass('btn-outline-info');
                $('.navbar-brand').addClass('scrolled');
            }
            else {
                $('.navbar').removeClass('navbar-light bg-white').addClass('navbar-dark bg-transparent');
                $('.predictionsBtn').removeClass('btn-outline-info').addClass('btn-outline-light');
                $('.navbar-brand').removeClass('scrolled');
            }
        }
    }

    $(document).ready(function () {
        // Transition effect for navbar
        // Disable transparency for dashboard page
        if (window.location.pathname == "/dashboard") {
            $('.navbar').removeClass('navbar-dark bg-transparent').addClass('navbar-light bg-white');
            $('.predictionsBtn').removeClass('btn-outline-light').addClass('btn-outline-info');
            $('.navbar-brand').addClass('scrolled');
            document.querySelector('.navbar').style['-webkit-box-shadow'] = '0px 5px 15px 0px rgba(0, 0, 0, 0.1)'; 
            document.querySelector('.navbar').style['box-shadow'] = '0px 5px 15px 0px rgba(0,0,0,0.1)'; 
        }
        else {
            $(window).scroll(function() {
            // checks if window is scrolled more than 400px
            if ($(this).scrollTop() > 400) {
                $('.navbar').removeClass('navbar-dark bg-transparent').addClass('navbar-light bg-white');
                $('.predictionsBtn').removeClass('btn-outline-light').addClass('btn-outline-info');
                $('.navbar-brand').addClass('scrolled');
                document.querySelector('.navbar').style['-webkit-box-shadow'] = '0px 5px 15px 0px rgba(0, 0, 0, 0.1)'; 
                document.querySelector('.navbar').style['box-shadow'] = '0px 5px 15px 0px rgba(0,0,0,0.1)'; 
            }
            else {
                $('.navbar').removeClass('navbar-light bg-white').addClass('navbar-dark bg-transparent');
                $('.predictionsBtn').removeClass('btn-outline-info').addClass('btn-outline-light');
                $('.navbar-brand').removeClass('scrolled');
                document.querySelector('.navbar').style['-webkit-box-shadow'] = 'none'; 
                document.querySelector('.navbar').style['box-shadow'] = 'none'; 
            }
        });
    }
});
</script>