
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #header-img {
        display: flex;
        align-items: center;
        height: 500px;
        background-color: #85CEBB;
    }

    #header-img h1 {
        text-align: left;
        margin-left: 10%;
        color: white;
        font-weight: 700;
    }

    #main {
        margin: 50px 10%;
        font-family: "Montserrat";
    }   

    .content {
        margin-bottom: 80px;
        padding: 10px;
    }

    .content p {
        width: 50%;
    }

    h1 {
        font-weight: 700;
        font-size: 3em;
        color: #093a3d;
    }

    p {
        width: 50%;
        color: #555;
        font-size: 1.2em;
    }

    h3 {
        font-weight: 700;
        font-size: 1.8em;
        text-align:center;
    }

    .team {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        width: 20%;
    }

    .team p {
        font-size: 18px;
        text-align: center;
    }

    .team img {
        align-self: center;
        width:45%;
        border-radius: 50%;
    }

    .row {
        margin: 40px auto;
    }

    /*MOBILE*/
    @@media screen and (max-width: 640px) {
        #header-img {
            justify-content: center;
        }

        #header-img h1 {
            margin-left: 0;
            text-align: center;
            font-size: 2em;
        }

        #main {
            margin: 50px 5%;
        }

        .content p {
            width: 100%;
        }

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }

        .row {
            padding: 0;
            margin-top: 20px;
        }

        .team {
            margin-top: 20px;
            width: 100%;
        }

    }
</style>

<div id="header-img">
    <h1>About Us</h1>
</div>

<div id="main">
    <div class="content">
        <br />
        <h1>What is dengue.live?</h1>
        <p>
            Dengue.live provides predictions of future dengue hotspots using machine learning models.
            We aim to help reduce the spread of Dengue in Singapore by keeping people informed ahead of time,
            and educating the public on the prevention measures of Dengue.
        </p>
    </div>

    <div class="content">
        <h1>About Us</h1>
        <p>
            We are a group of students from Ngee Ann Polytechnic, located in Singapore. This project was done as part of our Portfolio 2 assignment,
            using the skills we have picked up during our studies. We have used the following tools to help with our project: Python
            for machine learning, Tableau and Tabula for data visualisation and Microsoft Azure for web hosting.
        </p>
    </div>

    <div class="content">
        <h1>How it Works</h1>
        <p>
            Our predictions are retrieved from Firebase, 
            which is where an XGBoost Model uploads its 
            predictions of how likely an area is to be a dengue cluster.
        </p>
    </div>

    <div>
        <h1 style="text-align:center;">About the Team</h1>
        <div class="row">
            <br>
            <div class="team">
                <img src="~/images/dylan.jpg" alt="1">
                <h3>Dylan</h3>
                <p>Web Designer</p>
            </div>

            <div class="team">
                <img src="~/images/tom.jpg" alt="2">
                <h3>Tom</h3>
                <p>Machine Learning</p>
            </div>

            <div class="team">
                <img src="~/images/jun.jpg" alt="3">
                <h3>Jun Min</h3>
                <p>Early Warning System</p>
            </div>

            <div class="team">
                <img src="~/images/dong.jpg" alt="4">
                <h3>Dong Han</h3>
                <p>Chatbot</p>
            </div>

            <div class="team">
                <img src="~/images/william.jpg" alt="5">
                <h3>William</h3>
                <p>Tableau Map</p>
            </div>
        </div>
    </div>
</div>