
@{
    ViewData["Title"] = "Prevention";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #header-img {
        display: flex;
        align-items: center;
        height: 600px;
        background: #85CEBB;
    }

    #header-img h1 {
        text-align: left;
        margin-left: 10%;
        color: white;
        font-family: 'Montserrat';
        font-weight: 700;
    }

    #main {
         margin: 50px 15%;
         height:100%;
         display: flex;
         flex-flow: column;
    }

    h1 {
        font-weight: 700;
        font-size: 3em;
        color: #062e33;
        margin-bottom: 100px;
    }

    h2 {
        font-weight: 700;
        font-size: 2em;
        color: #062e33;
    }

    p {
        font-size: 1em;
        color: #555;
        font-weight: bold;
        line-height: 1.5em;
    }

    #stats {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    #stats>div {
        min-width: 100px;
        max-width: 200px;
        margin: 20px;
    }

    #stats h3 {
        background-color: #dbf0f1;
        font-weight: bold;
        color: #0d4e56;
        border-radius: 10px;
        padding: 10px;
    }

    .container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        text-align: right;
        align-items: center;
        margin-bottom: 100px;
    }

    .container>div {
        width: 40%;
    }

    .image {
        width: 40%;
        border-radius: 20px;
    }

    .reverse {
        text-align: left;
    }

    section {
        background-color: white;
        border-radius: 20px;
        padding: 80px 50px;
        margin-bottom: 100px;
        min-width: 600px;
        -webkit-box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.1); 
        box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.1);
    }

    #top {
        margin-top: -200px;
    }
    /*MOBILE*/
    @@media screen and (max-width: 640px) {
        #main {
            margin: 50px 5%;
        }

        #header-img {
            justify-content: center;
        }

        #header-img h1 {
            margin-left: 0;
            text-align: center;
            font-size: 1.9em;
        }

        h1 {
            font-size: 2em;
        }

        #stats {
            flex-flow: column;
            align-items: center;
            text-align: center;
        }

        .container{
            flex-flow: column;
            justify-content: center;
            text-align: left;
        }

        .container img {
            width: 100%;
        }

        .container>div {
            margin-top: 20px;
            width: 100%;
        }

        .reverse {
            flex-flow: column-reverse;
        }

        section {
            padding: 40px 25px;
            min-width: unset; 
        }
    }
</style>

<div id="header-img">
    <h1>Prevention</h1>
</div>

<div id="main">

    <section id="top">
        <h1>In 2019 alone...</h1>

        <div id="stats">
            <div>
                <h3>0.25%</h3>
                <p>of the population had contracted dengue.</p>
            </div>
            <div>
                <h3>>15000</h3>
                <p>Reported cases of dengue</p>
            </div>
            <div>
                <h3>20</h3>
                <p>Reported deaths caused by dengue</p>
            </div>
        </div>
    </section>

    <section>
        <h1>Background</h1>

        <div class="container">
            <img class="image" src="~/images/lifecycle.png" alt="Lifecycle of Aedes Mosquitoes" />
            <div>
                <h2>The Aedes Mosquito</h2>
                <p>
                    The dengue virus is transmitted by the Aedes mosquito.
                    Under optimal conditions, the egg of an Aedes mosquito can develop
                    into an adult in just 6-8 days, meaning they can breed very rapidly.
                </p>
            </div>
        </div>

        <div class="container reverse">
            <div>
                <p>
                    Therefore, the key to prevent dengue cases is to prevent the
                    breeding of the Aedes mosquitoes and to prevent yourself from getting bitten.
                </p>
            </div>
            <img class="image" src="~/images/aedesmosquito.jpg" alt="Aedes Mosquito">
        </div>
    </section>
    

    <section>
        <h1>Prevention of breeding</h1>

        <div class="container reverse">
            <div>
                <h2>5-Step Mozzie Wipeout</h2>
                <p>
                    A good way to get rid of stagnant water in your home is to follow the 5-step mozzie wipeout by NEA every alternate day,
                    this way Aedes mosquito breeding can be prevented.
                </p>
            </div>
            <img class="image" src="~/images/5steps.jpg" alt="5 Steps Mozzie Wipeout" />
        </div>
    </section>

    <section>
        <h1>Prevention of mosquito bites</h1>

        <div class="container">
            <img class="image" src="~/images/electronicPest.jpg" alt="Electronic pest repellent" />
            <div>
                <h2>Electronic Pest Repellent</h2>
                <p>
                    But what if the mosquito did not breed from your home and instead came from outside?
                    There are Electronic Pest Repellent that is made for this reason.
                    It uses UV tube to attract mosquitoes and then kills them, leaving your house mosquito free.
                </p>
            </div>
        </div>

        <div class="container reverse">
            <div>
                <h2>Fly screen</h2>
                <p>
                    A fly screen is designed to cover the opening of a window.
                    It prevents insects like mosquitoes from entering, while at the same time letting light and air through.
                </p>
            </div>
            <img class="image" src="~/images/flyscreen.jpg" alt="Flyscreen" />
        </div>

        <div class="container">
            <img class="image" src="~/images/mosquitonet.jpg" alt="mosquito net" />
            <div>
                <h2>Mosquito net</h2>
                <p>
                    A mosquito net is a type of meshed curtain that is draped over a bed to provide the sleeper a physical barrier to protect
                    against mosquitoes.
                </p>
            </div>
        </div>

        <div class="container reverse">
            <div>
                <h2>Insect repellent</h2>
                <p>
                    Mosquito rely mainly on their sense of smell to find their target.
                    By spraying a little mosquito repellent on your clothes it works by blocking a mosquito sense of smell,
                    preventing it from finding its target.
                </p>
            </div>
            <img class="image" src="~/images/mosquitorepellent.jpg" alt="Insect Repellent" />
        </div>
    </section>
</div>