
@{
    ViewData["Title"] = "Prevention";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #header-img {
        display: flex;
        align-items: center;
        height: 500px;
        background-color: #85CEBB;
    }

    #header-img h1 {
        text-align: left;
        margin-left: 80px;
        color: white;
        font-family: 'Montserrat';
        font-weight: 700;
    }

    p {
            font-size: 1.5em;
            font-family: 'Montserrat';
        }

    #main{
        margin:50px 10%;
         display: flex;
         flex-flow: column wrap;
    }

    h1 {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 3em;
            color: #666666;
            margin-left: -10px;
            width: 100%;
        }
    h2 {
            font-family: 'Montserrat';
            font-weight: 200;
            font-size: 1.7em;
            color: #666666;
            width: 100%;

        }   
    /*MOBILE*/
    @@media screen and (max-width: 640px) {
        #header-img {
            justify-content: center;
        }

        #header-img h1 {
            margin-left: 0;
            text-align: center;
            font-size: 1.9em;
        }
    }
</style>

<div id="header-img">
    <h1>Prevention</h1>
</div>

<div id="main">
    <div style="display: flex; flex-flow: row;">
        <div>
            <h1>How do we prevent the dangerous Dengue disease from spreading?</h1>
            <p>
                The dengue virus is transmitted by the bite of the Aedes mosquito. Therefore in order to prevent dengue cases you must prevent the spread of Aedes mosquitoes.
            </p>
        </div>
        <div class="imageright">
            <img src="~/images/aedesmosquito.jpg" alt="Aedes Mosquito">
        </div>
    </div>

    <div style="margin-top: 5%; display:flex;">
        <div class="imageleft">
            <img src="~/images/lifecycle.png" alt="Lifecycle of Aedes Mosquitoes" />
        </div>
        <div style="margin-left: 5%">
            <p>
                According to NEA, under optimal conditions, the egg of an Aedes mosquito can hatch into a larva in less
                than a day. The larva will then take about 4-5 days to develop into a pupa.
                The pupa will then develop into an adult mosquito in 2-3 days.
                You are able to prevent Aedes mosquito from successfully breeding by frequently checking and
                removing stagnant water in your home.
            </p>
        </div>
    </div>

    <div style="margin-top: 5%; display:flex;">
        <div>
            <p>
                A good way to get rid of stagnant water in your home is to follow the 5-step mozzie wipeout by NEA every alternate day,
                this way Aedes mosquito breeding can be prevented.
            </p>
        </div>
        <div style="margin-left: 5%">
            <img src="~/images/5steps.jpg" alt="5 Steps Mozzie Wipeout" />
        </div>
    </div>

    <h1 style="margin-top: 5%">For Home Use:</h1>
    <h2 style="text-decoration: underline;">Electronic Pest Repellent</h2>

    <div style="display:flex;">
        <div>
            <img src="~/images/electronicPest.jpg" alt="Electronic pest repellent" />
        </div>
        <div style="margin-left: 5%">
            <p>
                But what if the mosquito did not breed from your home and instead came from outside?
                There are Electronic Pest Repellent that is made for this reason.
                It uses UV tube to attract mosquitoes and then kills them, leaving your house mosquito free.
            </p>

        </div>
    </div>

    <h2 style="text-decoration: underline; margin-top: 2%;">Fly screen</h2>
    <div style="display:flex;">
        <div>
            <p>
                A fly screen is designed to cover the opening of a window.
                It prevents insects like mosquitoes from entering, while at the same time letting light and air through.
            </p>
        </div>
        <div style="margin-left: 5%">
            <img src="~/images/flyscreen.jpg" alt="Flyscreen" />
        </div>
    </div>

    <h2 style="text-decoration: underline; margin-top: 2%;">Mosquito net</h2>
    <div style="display:flex;">
        <div>
            <img src="~/images/mosquitonet.jpg" alt="mosquito net" />
        </div>

        <div style="margin-left: 5%">
            <p>
                A mosquito net is a type of meshed curtain that is draped over a bed to provide the sleeper a physical barrier to protect
                against mosquitoes.
            </p>
        </div>
    </div>

    <h1 style="margin-top: 5%">For Outside Use:</h1>
    <h2 style="text-decoration: underline;">Insect repellent</h2>

    <div style="display:flex;">
        <div>
            <p>
                Mosquito rely mainly on their sense of smell to find their target.
                By spraying a little mosquito repellent on your clothes it works by blocking a mosquito sense of smell,
                preventing it from finding its target.
            </p>
        </div>

        <div style="margin-left: 5%">
            <img src="~/images/mosquitorepellent.jpg" alt="Insect Repellent" />
        </div>
    </div>



</div>