
@{
    ViewData["Title"] = "Risk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #header-img {
        display: flex;
        align-items: center;
        height: 500px;
        background-color: #85CEBB;
    }

    #header-img h1 {
        text-align: left;
        margin-left: 15%;
        font-size: 3em;
        color: white;
        font-family: 'Segoe UI';
        font-weight: 700;
    }

    #main {
         margin: 50px 15%;
         display: flex;
         flex-flow: column wrap;
    }

    #main h1{
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 2em;
        color: black;
    }

    h4 {
        color: grey;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.8em;
    }
    
    p {
        font-size: 0.6em; 
        margin: 0;
        color: grey;
    }

    section {
        width: 100%;
        min-width: 700px;
        float:left;
        text-align:center;
        margin-bottom: 200px;
    }

    .uppersec {
        margin: 50px 0;
        padding: 40px;
        width:40%;
        text-align: left;
        float:left;
    }

    .agetext {
        margin: 50px 0;
        width: 400px;
        height: 300px;
        border-radius: 10px;
        float: right;
        display: block;
        color: rgba(128, 128, 128, 1);
    }

    .lowersec {
        margin: 50px 0;
        padding: 40px;
        width: 40%;
        text-align: right;
        float: right;
    }

    .bloodtext {
        margin: 50px 0;
        width: 400px;
        height: 300px;
        border-radius: 10px;
        float: left;
        display: block;
    }

    /*MOBILE*/
    @@media screen and (max-width: 640px) {
        #main {
            margin: 50px 5%;
        }

        #header-img {
            justify-content: center;
        }

        #header-img h1 {
            margin-left: 0;
            text-align: center;
            font-size: 2.5em;
        }

        h4 {
            font-size: 1em;
        }

        section {
            display:inline-grid;
            min-width: unset;
            justify-content: center;
            width: 100%;
            margin-bottom: 50px;
        }

        .uppersec {
           padding: 0;
           margin-top: 0px;
           width: 100%;
           flex-flow: wrap;
        }

        .lowersec {
            padding: 0;
            margin-top: 0px;
            display:flex;
            width: 100%;
            flex-flow:wrap;
            text-align: left
        }

        .agetext {
            margin: 100px 0 20px 0;
            width: 100%;
            height: 250px;
            order: -1;
        }

        .bloodtext {
            margin: 100px 0 20px 0;
            width: 100%;
            height: 250px;
            order: 0;
        }
    }
</style>

<div id="header-img">
    <h1>Risk Factors</h1>
</div>
<div id="main">
    <section>
        <div class="uppersec">
            <h1>Apparels</h1>
            <h4>
                Mosquitoes are attracted to darker colours (black/navy)
                as they are much easier for them to see.
            </h4>
        </div>
        <img src="~/images/apparel.jpg" alt="Black apparel" class="agetext">
    </section>

    <section>
        <img src="~/images/blood.jpg" alt="Blood bag" class="bloodtext">
        <div class="lowersec">
            <h1>Blood Type</h1>
            <h4>
                Researchers have found that people with Type O blood are twice as attractive to mosquitoes than people with Type A.
                In addition, based on other genes, 85% of people produce a secretion that signals their blood type, which draws mosquito regardless of blood type.
            </h4>
        </div>
    </section>

    <section>
        <div class="uppersec">
            <h1>Carbon Dioxide</h1>
            <h4>
                Mosquitoes can sense carbon dioxide up to 48 metres away,
                so the more you exhale the more attractive you are to mosquitoes. Larger people generally produce more carbon dioxide.
            </h4>
        </div>
        <img src="~/images/carbonDioxide.jpg" alt="Breath" class="agetext">
    </section>

    <section>
        <img src="~/images/sweat.jpg" alt="Sweat" class="bloodtext">
        <div class="lowersec">
            <h1>Heat and Sweat</h1>
            <h4>
                Mosquitoes can sniff down victims through chemical compounds released in sweat,
                strenuous exercises increase the build-up of such compounds, another factor includes genetics
                making some people more prone to getting mosquito bites.
            </h4>
        </div>
    </section>

    <section>
        <div class="uppersec">
            <h1>Skin Bacteria</h1>
            <h4>
                Researchers have shown that the types of bacteria on one’s skin can increase the chances of
                being bitten, which explains why some mosquitoes are drawn to ankles and feet.
            </h4>
        </div>
        <img src="~/images/skinbacteria.jpg" alt="Running Man" class="agetext">
    </section>

    <section>
        <img src="~/images/pregnancy.jpg" alt="Pregnant woman" class="bloodtext">
        <div class="lowersec">
            <h1>Pregnancy</h1>
            <h4>
                Mosquitoes are more likely to bite women in late pregnancy as they exhale 21% more
                volume of breath. The abdomens of pregnant women are also warmer, attracting even more mosquitoes.
            </h4>
        </div>
    </section>

    <section>
        <div class="uppersec">
            <h1>Alcohol</h1>
            <h4>
                Researchers have found that mosquitoes are more attracted to participants who drank alcohol.
                They figured that an increased ethanol content in sweat and increased skin temperature led to more mosquito bites,
                however and exact correlation has yet to been discovered.
            </h4>
        </div>
        <img src="~/images/beer.jpg" alt="Beer" class="agetext">
    </section>
    <div>
        <h3 style="font-size: 1em; font-weight: bold;">References</h3>
        <p>https://www.simplicol.de/en/simplicol-back-to-black-clothes-refresh.html</p>
        <p>https://diamedicalusa.com/medical-equipment/simulated-iv-fluids-medications/iv-therapy/simulated-blood-bags-2/</p>
        <p>https://upliftconnect.com/how-to-harness-power-of-breath/</p>
        <p>https://www.medicalnewstoday.com/articles/319570.php</p>
        <p>https://depositphotos.com/81193434/stock-photo-legs-and-feet-extreme-cross.html</p>
        <p>https://www.olay.co.uk/en-gb/skin-care-tips-and-articles/lifestyle-and-skin/skincare-and-pregnancy</p>
        <p>https://gothere.sg/blog/2018/02/28/best-beer-and-alcohol-deals-in-singapore/</p>
    </div>
</div>


